@mixin flexbox($flex-direction: row, $justify-content: space-between, $align-items: stretch) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin grid($grid-template-columns, $grid-template-rows, $grid-gap) {
  display: grid;
  grid-template-columns: $grid-template-columns;
  grid-template-rows: $grid-template-rows;
  grid-gap: $grid-gap;
}
// // // // // //
// INDEX HTML //
// // // // // //

// link
$color-of-button-link: #fff;
$color-of-bg-button-link: #e8663c;
$color-of-button-link-inactive: #b9b9b9;
%font-settings-link {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

// header
$color-of-logo: #e8603c;
$color-of-logo-another-color: #f3af9d;
%font-settings-logo {
  font-size: 46px;
  font-weight: bold;
}

$color-of-link: #b9b9b9;
$color-of-link-another: #f3af9d;
$color-of-active-link: #e8663c;
%font-settings-link {
  font-size: 22px;
  font-weight: bold;
}

//slider
$color-bg-slider: #e8663c;
$color-title-slider: #fff;
$color-text-slider: #fff;
$font-size-title-slider: 24px;
$font-size-text-slider: 14px;

//feature
$color-of-heading: #e8663c;
%font-settings-heading {
  font-size: 26px;
  line-height: 24px;
  text-transform: uppercase;
}

$color-of-text: #414141;
%font-settings-text {
  font-size: 12px;
  line-height: 18px;
  font-family: "HelveticaRegular", Arial, sans-serif;
}

//recent-works
$color-of-date: #e8663c;
%font-settings-date {
  font-size: 16px;
  line-height: 10px;
  font-weight: bold;
}

//footer
$color-footer-text: #fff;
%font-settings-footer-text {
  font-size: 12px;
  line-height: 18px;
  font-family: "HelveticaRegular", Arial, sans-serif;
}
$color-footer-title: #fff;
$font-size-footer-title: 28px;
$color-footer-tag: #f3b29d;
$color-bg-footer: #e8663c;

$color-of-outlines: #f3af9d;

// // // // // // //
// ABOUT US HTML //
// // // // // // //

// main-title
$color-bg-main-title: #e8603c;
%font-settings-main-title {
  font-size: 30px;
  line-height: 32px;
}
$color-main-title: #fff;

//sidebar
$color-sidebar-heading: #e8603c;
$font-size-sidebar-heading: 20px;

$color-sidebar-text: #464646;
%font-settings-sidebar-text {
  font-size: 12px;
  line-height: 18px;
  font-family: "HelveticaRegular", Arial, sans-serif;
}

//about-us
$color-about-us-text: #414141;
%font-settings-about-us-text {
  font-size: 12px;
  line-height: 18px;
	font-family: "HelveticaRegular", Arial, sans-serif;
	font-weight: 400;
}

$color-about-us-d: #e8603c;
%font-settings-about-us-d {
	font-size: 35px;
	line-height: 18px;
	font-weight: bold;
	font-family: "HelveticaRegular", Arial, sans-serif;
}

$color-about-us-blockquote: #414141;
%font-settings-about-us-blockquote {
  font-size: 12px;
  line-height: 18px;
	font-family: "HelveticaLightItalic", Arial, sans-serif;
	font-weight: 300;
	font-style: italic;
}

%font-settings-about-us-alert {
	font-size: 18px;
	line-height: 20px;
	font-family: 'HelveticaItalic', Arial, sans-serif;
	font-style: italic;
}
$color-bg-about-us-alert-green: #effeb9;
$color-bg-about-us-alert-pink: #fbcbc1;
$color-bg-about-us-alert-orange: #ffe9ad;
$color-bg-about-us-alert-blue: #d1e4f3;
$color-about-us-alert-green: #98c601;
$color-about-us-alert-pink: #eb5439;
$color-about-us-alert-orange: #fab418;
$color-about-us-alert-blue: #4d8fcb;

$color-bg-about-us-blockquote-line: #e8663c;


// // // // // //
// BLOG-ITEM // //
// // // // // //

$color-of-text-portfolio-item: #414141;
%font-settings-text-portfolio-item {
  font-size: 12px;
  line-height: 18px;
  font-family: "HelveticaRegular", Arial, sans-serif;
}

// // // // // //
// // BLOG // //
// // // // // //

$color-of-heading-blog: #e8603c;
%font-settings-heading-blog {
  font-size: 18px;
  line-height: 20px;
}
$color-of-subheading-blog: #bababa;
%font-settings-subheading-blog {
  font-size: 12px;
	line-height: 20px;
	font-family: "HelveticaRegular", Arial, sans-serif;
}


$color-of-main-heading-blog: #e8603c;
%font-settings-main-heading-blog {
	font-size: 24px;
	line-height: 24px;
}
$color-of-main-text-blog: #414141;
%font-settings-main-text-blog {
  font-size: 12px;
  line-height: 18px;
	font-family: "HelveticaRegular", Arial, sans-serif;
}

$color-of-blockquote-blog: #474747;
%font-settings-blockquote-blog {
	font-size: 13px;
	line-height: 18px;
	font-family: "HelveticaRegular", Arial, sans-serif;
	font-style: italic;
}
$color-of-bg-blockquote-blog: #f5f5f5;

$color-of-number-of-page-link: #fff;
$color-of-bg-number-of-page-link: #e8663c;
$color-of-bg-number-of-page-link-inactive: #f3b29d;
%font-settings-number-of-page-link {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}


// // // // // // //
// // contact-us// //
// // // // // // //

$color-of-text-contact-us: #414141;
%font-settings-text-contact-us {
  font-size: 12px;
  line-height: 14px;
  font-family: "HelveticaRegular", Arial, sans-serif;
}

$color-of-text-contact-us-heading: #e8603c;
%font-settings-text-contact-us-heading {
  font-size: 12px;
  line-height: 14px;
	font-family: "HelveticaRegular", Arial, sans-serif;
	font-weight: bold;
}

$color-of-text-contact-us-link: #e8603c;
%font-settings-text-contact-us-link {
  font-size: 16px;
	line-height: 28px;
	text-transform: uppercase;
}


// // // // // //
// media query //
// // // // // //


@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-portait-only {
  @media (min-width: 600px) and (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}


.page {
  font-family: "Bebas Neue", Arial, sans-serif;
}

