.portfolio {
	max-width: 940px;
	margin: 0 auto 45px;
	@include grid(repeat(4, 1fr), repeat(3, 1fr), 40px 20px);
	@include for-tablet-landscape-only { padding: 0 35px;} 
	@include for-tablet-portait-only {padding: 0 15px;}

}