.header__list-link, .post__heading {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold; }

.header__logo {
  font-size: 46px;
  font-weight: bold; }

.header__list-link, .post__heading {
  font-size: 22px;
  font-weight: bold; }

.recent-works__title {
  font-size: 26px;
  line-height: 24px;
  text-transform: uppercase; }

.post__date {
  font-size: 16px;
  line-height: 10px;
  font-weight: bold; }

.footer__text, .footer__twitter-post-date, .footer__twitter-post-text {
  font-size: 12px;
  line-height: 18px;
  font-family: "HelveticaRegular", Arial, sans-serif; }

.main-title__heading {
  font-size: 30px;
  line-height: 32px; }

.portfolio-item__text {
  font-size: 12px;
  line-height: 18px;
  font-family: "HelveticaRegular", Arial, sans-serif; }

.page {
  font-family: "Bebas Neue", Arial, sans-serif; }

.header__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch; }

.header__list-item {
  margin-right: 28px; }
  .header__list-item:last-child {
    margin-right: 0; }

.header__logo {
  text-decoration: none;
  color: #e8603c;
  text-transform: uppercase; }

.header__logo-another-color {
  color: #f3af9d; }

.header__list-link {
  text-decoration: none;
  color: #b9b9b9;
  transition: color .5s; }
  .header__list-link:hover {
    color: #e8663c; }
  .header__list-link:hover .header__list-link-another-color {
    color: #f3af9d;
    transition: color 0.5s; }

.header__list-link_active {
  color: #e8663c; }

.header__list-link-another-color {
  transition: color .5s;
  color: #b9b9b9; }

.header__list-link-another-color_active {
  color: #f3af9d; }

.header {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0; }
  @media (min-width: 900px) and (max-width: 1199px) {
    .header {
      padding: 22px 35px; } }
  @media (min-width: 600px) and (max-width: 899px) {
    .header {
      padding: 11px 15px; } }

.footer__item {
  max-width: 260px; }

.footer__soc {
  margin-top: 21px; }

.footer__soc-link {
  margin-right: 5px; }
  .footer__soc-link:last-child {
    margin-right: 0; }

.footer__text {
  color: #fff;
  margin-bottom: 15px; }
  .footer__text:last-of-type {
    margin-bottom: 0; }

.footer__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 28px;
  margin-bottom: 27px; }

.footer__twitter-post-date {
  color: #f3b29d;
  margin-bottom: 18px; }
  .footer__twitter-post-date:last-child {
    margin-bottom: 0; }

.footer__twitter-post-tag {
  color: #f3b29d; }

.footer__twitter-post-text {
  color: #fff;
  margin-bottom: 8px; }

.footer {
  max-width: 940px;
  margin: 0 auto;
  padding: 38px 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: #e8663c;
  box-sizing: border-box;
  position: relative; }
  @media (min-width: 600px) and (max-width: 899px) {
    .footer {
      padding: 38px 15px; } }
  .footer::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    width: calc((100vw - 940px) / 2 - 18px);
    height: 100%;
    background-color: #f3af9d; }
  .footer::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: calc(100% + 10px);
    height: 100%;
    width: calc((100vw - 940px) / 2 - 18px);
    background-color: #f3af9d; }

.main-title__heading {
  color: #fff;
  padding: 19px;
  margin: 0; }
  @media (min-width: 900px) and (max-width: 1199px) {
    .main-title__heading {
      padding: 19px 48px; } }

.main-title {
  max-width: 940px;
  margin: 0 auto 28px;
  background-color: #e8603c;
  box-sizing: border-box;
  position: relative; }
  .main-title::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: calc((100vw - 940px) / 2 - 18px);
    top: 0;
    right: calc(100% + 10px);
    background-color: #f3af9d; }
  .main-title::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: calc((100vw - 940px) / 2 - 18px);
    top: 0;
    left: calc(100% + 10px);
    background-color: #f3af9d; }

.post__date {
  color: #e8663c; }

.post__description {
  border: 1px solid #dbdbdb;
  border-top: none;
  padding: 15px;
  margin-top: -4px; }

.post__heading {
  color: #b9b9b9;
  margin-bottom: 8px; }

.post__img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  min-height: 183px; }

.post_hover {
  display: block;
  text-decoration: none;
  max-width: 220px;
  width: 100%;
  position: relative; }
  .post_hover:hover::after {
    content: url("../images/plus.png");
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 72%; }
    @media (min-width: 900px) and (max-width: 1199px) {
      .post_hover:hover::after {
        display: none; } }
    @media (min-width: 600px) and (max-width: 899px) {
      .post_hover:hover::after {
        display: none; } }

.post {
  display: block;
  text-decoration: none;
  max-width: 220px;
  margin-right: 20px; }
  .post:last-child {
    margin-right: 0; }

.recent-works__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch; }

.recent-works__title {
  color: #e8663c;
  margin-bottom: 26px; }

.recent-works {
  max-width: 940px;
  margin: 0 auto 48px; }
  @media (min-width: 900px) and (max-width: 1199px) {
    .recent-works {
      padding: 0 35px; } }
  @media (min-width: 600px) and (max-width: 899px) {
    .recent-works {
      padding: 0 15px; } }

.portfolio-item__img {
  width: 100%;
  object-fit: cover;
  max-height: 400px;
  margin-bottom: 20px; }

.portfolio-item__text {
  color: #414141;
  margin-bottom: 30px; }
  .portfolio-item__text:last-child {
    margin-bottom: 50px; }

* {
  margin: 0;
  padding: 0; }

.portfolio-item {
  max-width: 940px;
  margin: 0 auto; }
  @media (min-width: 900px) and (max-width: 1199px) {
    .portfolio-item {
      padding: 0 35px; } }
  @media (min-width: 600px) and (max-width: 899px) {
    .portfolio-item {
      padding: 0 15px; } }

/*# sourceMappingURL=social-media-buttons.css.map */
