@import '__gallery/sidebar__gallery';
@import '__hatch/sidebar__hatch';
@import '__heading/sidebar__heading';
@import '__item/sidebar__item';
@import '__item-link/sidebar__item-link';
@import '__list/sidebar__list';
@import '__photo/sidebar__photo';
@import '__text/sidebar__text';
@import '__container/sidebar__container';

.sidebar {
	max-width: 220px;
	margin-left: 55px;
	padding-bottom: 37px;
	@include for-tablet-landscape-only { padding-right:35px; margin-left: 30px;}
	@include for-tablet-portait-only {padding-right: 15px; margin-left: 15px;}


}