@import "__item/footer__item";
@import "__soc/footer__soc";
@import "__soc-img/footer__soc-img";
@import "__soc-link/footer__soc-link";
@import "__text/footer__text";
@import "__title/footer__title";
@import "__twitter-post/footer__twitter-post";
@import "__twitter-post-date/footer__twitter-post-date";
@import "__twitter-post-tag/footer__twitter-post-tag";
@import "__twitter-post-text/footer__twitter-post-text";

.footer {
  max-width: 940px;
  margin: 0 auto;
  padding: 38px 35px;
  @include flexbox;
  background-color: $color-bg-footer;
	box-sizing: border-box;
	@include for-tablet-portait-only {padding: 38px 15px;}
	position: relative;
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: calc(100% + 10px);
		width: calc((100vw - 940px) / 2 - 18px);
		height: 100%;
		background-color: $color-of-outlines;
	}
	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: calc(100% + 10px);
		height: 100%;
		width: calc((100vw - 940px) / 2 - 18px);
		background-color: $color-of-outlines;
	}
}
