@import "__img/portfolio-item__img";
@import "__text/portfolio-item__text";

* {
  margin: 0;
  padding: 0;
}

.portfolio-item {
  max-width: 940px;
  margin: 0 auto;
  @include for-tablet-landscape-only {
    padding: 0 35px;
  }
  @include for-tablet-portait-only {
    padding: 0 15px;
  }
}
