@import '__heading/feature__heading';
@import '__img/feature__img';
@import '__item/feature__item';
@import '__button-link/feature__button-link';
@import '__text/feature__text';
@import '__title/feature__title';

.feature {
	max-width: 940px;
	@include flexbox;
	margin: 0 auto 56px;
	@include for-tablet-landscape-only { padding: 0 35px;}
	// @include for-tablet-portait-only {flex-direction: column; align-items: center;}
	@include for-tablet-portait-only {padding: 0 15px;} 
}